@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --neon:hsl(150, 100%, 66%);
    --bodyBg:hsl(218, 23%, 16%);
    --cardBg:hsl(217, 19%, 24%);
    --textColor:hsl(193, 38%, 86%);
    --svgs:invert(0);
}

.light{
    --neon:#d62828;
    --bodyBg:linear-gradient(315deg,#eae2b7,#fcbf49);
    --cardBg:linear-gradient(135deg,#fcbf49,#f77f00);
    --textColor:#003049;
    --svgs:invert(1)
}

html,body{height:100%;background: var(--bodyBg);}

body{
    display: grid;
    place-items: center;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

#themeChanger{
    position: fixed;
    top:1rem;
    right:1rem;
    width:3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border:2px solid var(--neon);
    background:var(--bodyBg);
    cursor:pointer;
}

#themeChanger img{
    vertical-align: bottom;
}

#lightThemeIcon{
    display: none;
    filter: invert(15%) sepia(83%) saturate(5097%) hue-rotate(354deg) brightness(93%) contrast(81%);
}

#darkThemeIcon{
    filter: invert(85%) sepia(55%) saturate(534%) hue-rotate(76deg) brightness(103%) contrast(101%);
}

.light #darkThemeIcon{
    display: none;
}

.light #lightThemeIcon{
    display: inline-block;
}

#adviceCard{
    max-width: 540px;
    width:92%;
    background: var(--cardBg);
    padding:2.5rem 1.5rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .75rem;
    color:var(--textColor);
    gap:1.5rem;
    position: relative;
    margin-bottom:6.75rem;
}

#idContainer h1{
    color: var(--neon);
    font-size:.65rem;
    letter-spacing: 4px;
    font-weight: 800;
}

#advice{
    font-size:1.5rem;
    font-weight: 800;
}

#divider img{
    width:100%;
    filter:var(--svgs)
}

#buttonContainer button{
    background: var(--neon);
    width:4rem;
    aspect-ratio: 1;
    border:0;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top:100%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    transition: .25s ease-in-out;
}

#buttonContainer button img{
    vertical-align: bottom;
    filter:var(--svgs);
}

#buttonContainer button.loading img{
    animation: load 1s infinite ease-in-out;
}

@keyframes load {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width:700px) {
    #adviceCard{
        padding:3rem 3rem 2.75rem;
        margin-bottom:2rem;
    }

    #idContainer h1{
        font-size:.8rem
    }

    #advice{
        font-size:1.75rem
    }

    #divider img{
        margin-top:1rem;
    }

    #buttonContainer button:hover,#buttonContainer button:focus{
        box-shadow: 0 0 3rem var(--neon);
    }
}